.floatL {
	float: left;
}

.fiftypc {
	width: 50%;
}

.hundredpc {
	width: 100%;
}

.clear {
	clear: both;
}

.u-kvot {
	margin-top: 3px;
	margin-right: 5px;
}

.u-kvot2 {
	margin-top: 3px;
	margin-left: 10px;
}

.marginbottom {
	margin-bottom: 10px;
}

.header {
	background-color: #ffd27f;
}

.newJAK {
	background-color: #9c9;
}

.oldJAK {
	background-color: #ff9999;
}

.noMargins {
	margin: 3px;
}

.padding {
	
}