@import "checkbox";

body {
  font-family: Roboto, sans-serif;
  background: #f6f4f0;
}

.border_radius {
  border-radius: 5px;
}

.border {
  border: 1px solid #d3d1cd;
}

.floatL {
  float: left;
}

.fiftypc {
  width: 50%;
}

.hundredpc {
  width: 100%;
}

.clear {
  clear: both;
}

.u-kvot {
  margin-right: 5px;
}

.u-kvot2 {
  margin-top: 3px;
  margin-left: 10px;
}

.marginbottom {
  margin-bottom: 10px;
}

.header {
  background-color: #fff;
  .border_radius;
  .border;
}

.newJAK {
  background-color: #9c9;
}

.oldJAK {
  background-color: #ff9999;
}

.noMargins {
  margin: 3px;
}

.padding {

}